extends layout

block content
  if success.length
    .alert.alert-success.animated.flipInX
        i.fa.fa-check
        strong Success!
        |  Group created!

  .pageheader
    h3 Make Group

  if !user
    h3
      a(href='/login') Please login to use GroupLove!
  else
    form.form-horizontal(role='form', method='POST', action='/submitGroup')
      .form-group
        label.col-sm-2.control-label(for='course') What course are you making a group for?
        .col-sm-8
          input.form-control(type='text', name='course', id='course', autofocus=true)
      .form-group
        label.col-sm-2.control-label(for='location') What location will the group meet at?
        .col-sm-8
          input.form-control(type='text', name='location', id='location')
      .form-group
        label.col-sm-2.control-label(for='meetingTime') What time of day will the group meet?
        .col-sm-8
          select(name='meetingTime')
            each item in timesOfDay
              option(value=' #{item}', name='meetingTime') #{item}
      .form-group
        label.col-sm-2.control-label(for='meetingDate') What day(s) of the week will the group meet?
        .col-sm-8
          each item in daysOfWeek
            input(type='checkbox', name='meetingDate', value=' #{item}')
            |  #{item}
            br
      .form-group
          input.form-control(type='hidden', name='_csrf', value=token)
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-default(type='submit')
            | Submit

  h3 Current groups
  ol
    for group in groups
        li: p Course:
            b  #{group.course}
            ul
              li: p Location:
                b  #{group.meetingLocation}
              li: p Meeting Time:
                b  #{group.meetingTime[1]}
                |  on
                b #{group.meetingTime[0]}
              li: p Members:
                for item in group.members
<<<<<<< HEAD
                  b  #{item.email} 
=======
                  b  #{item.email}  
>>>>>>> f4ebacfd63e1c6e54a90f4614ff5e611bb95e7bc
