extends layout

block content
  .pageheader
    h3 GroupSearch

  form.form-horizontal(role='form', method='POST', action='/search')
    .form-group
      label(class='col-sm-2 control-label', for='course') What class do you need a group for?
      .col-sm-8
        input.form-control(type='text', name='course', id='course', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='meetingLocation') What location suits you best?
      .col-sm-8
        input.form-control(type='text', name='meetingLocation', id='meetingLocation')
    .form-group
      label.col-sm-2.control-label(for='meetingTime') What time of day can you meet (in 24hr time)?
      .col-sm-8
        input.form-control(type='text', name='meetingTime')
    .form-group
      label.col-sm-2.control-label(for='meetingDate') What days of the week can you meet?
      .col-sm-8
        each item in daysOfWeek
          input(type='checkbox', name='meetingDate', value=' #{item}')
          |  #{item}
          br
    .form-group
        input.form-control(type='hidden', name='_csrf', value=token) 
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-default(type='submit')
          | Submit

  if typeof(error) !== 'undefined' && error.length
    .alert.alert-danger.animated.flipInX
        i.fa.fa-warning
        strong Uh-oh!
        |  No groups found 
        a(href='/makeGroup') Click here to make a group.


  if typeof(success) !== 'undefined' && success.length
    .alert.alert-success.animated.flipInX
        i.fa.fa-check
        strong Yay!!
        |  You were added to the selected group

  if groups.length
    if typeof(groups) !== 'undefined'
      h3 Results
      ol
        for item in groups
          li: p Course:
              b  #{item.course}
              a.button.btn.btn-default(href='/addMeToGroup-#{item.id}' type='button' style='margin-left:10px') Add me to this group
              ul
                li: p Location:
                  b  #{item.meetingLocation}
                li: p Meeting Time:
                  b  #{item.meetingTime}
                  |  on 
                  b  #{item.meetingDate}
                li: p Members:
                  for i in item.members
                    b #{i.email}  