extends layout

block content
  .pageheader
    h3 Find Group

  form.form-horizontal(role='form', method='POST', action='/search')
    .form-group
      label(class='col-md-2 control-label', for='course') What class do you need a group for?
      .col-md-8
        input.form-control(type='text', name='course', id='course', autofocus=true)
    .form-group
      label(class='col-md-2 control-label', for='meetingLocation') What location suits you best?
      .col-md-8
        input.form-control(type='text', name='meetingLocation', id='meetingLocation')
    .row
      .form-group
        label.col-md-2.col-sm-2.col-xs-2.control-label(for='meetingDate') What four times work best?   
        .col-md-2.col-sm-2.col-xs-2
          each item in daysOfWeek
            input(type='checkbox', name='meetingDate1', value=' #{item}')
            |  #{item}
            br
        .form-group
          .col-md-2.col-sm-2.col-xs-2
            each item in daysOfWeek
              input(type='checkbox', name='meetingDate2', value=' #{item}')
              |  #{item}
              br
          .form-group
            .col-md-2.col-sm-2.col-xs-2
              each item in daysOfWeek
                input(type='checkbox', name='meetingDate3', value=' #{item}')
                |  #{item}
                br        
            .form-group
              .col-md-2.col-sm-2.col-xs-2
                each item in daysOfWeek
                  input(type='checkbox', name='meetingDate4', value=' #{item}')
                  |  #{item}
                  br
    .row  
      .form-group
        label.col-md-2.col-sm-2.col-xs-2.control-label(for='meetingTime')
        .col-md-2.col-sm-2.col-xs-2
          select(name='meetingTime1')
            each item in timesOfDay
              option(value=' #{item}', name='meetingTime1') #{item}
        .form-group
          .col-md-2.col-sm-2.col-xs-2
            select(name='meetingTime2')
              each item in timesOfDay
                option(value=' #{item}', name='meetingTime2') #{item}
          .form-group
            .col-md-2.col-sm-2.col-xs-2
              select(name='meetingTime3')
                each item in timesOfDay
                  option(value=' #{item}', name='meetingTime3') #{item}
            .form-group
              .col-md-2.col-sm-2.col-xs-2
                select(name='meetingTime4')
                  each item in timesOfDay
                    option(value=' #{item}', name='meetingTime4') #{item}
    .form-group
        input.form-control(type='hidden', name='_csrf', value=token) 
    .form-group
      .col-md-offset-2.col-md-8
        button.btn.btn-default(type='submit')
          | Submit

  if typeof(error) !== 'undefined' && error.length
    .alert.alert-danger.animated.flipInX
        i.fa.fa-warning
        strong Uh-oh!
        |  No groups found 
        a(href='/makeGroup') Click here to make a group.


  if typeof(success) !== 'undefined' && success.length
    .alert.alert-success.animated.flipInX
        i.fa.fa-check
        strong Yay!!
        |  You were added to the selected group

  if groups.length
    if typeof(groups) !== 'undefined'
      h3 Best Results
      h5 To see more results, use only the class field.
      ol
        for item in groups
          li: p Course:
              b  #{item.course}
              - var display = true
              for j in item.members
                if user.email == j.email
                  - display = false
              if display
                a.button.btn.btn-default(href='/addMeToGroup-#{item.id}' type='button' style='margin-left:10px') Add me to this group
              ul
                li: p Location:
                  b  #{item.meetingLocation}
                li: p Meeting Time:
                  b  #{item.meetingTime[1]}
                  |  on 
                  b  #{item.meetingTime[0]}
                li: p Members:
                  for i in item.members
                    b  #{i.email} 
  else
    if typeof(groups) !== 'undefined' && groups !== ""
      h3 Best Results
      h5 To see more results, use only the class field.
      ol
          li: p Course:
              b  #{groups.course}
              ul
                li: p Location:
                  b  #{groups.meetingLocation}
                li: p Meeting Time:
                  b  #{groups.meetingTime[1]}
                  |  on 
                  b  #{groups.meetingTime[0]}
                li: p Members:
                  for i in groups.members
                    b  #{i.email} 
